@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface font-sans text-on-surface antialiased;
    font-size: 14px;
    line-height: 20px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    accent-color: #166534;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .structural-border {
    @apply border border-surface-container-highest;
  }

  .zenith-surface {
    @apply border border-surface-container-highest bg-surface-container-lowest;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  vertical-align: middle;
}

.material-symbols-outlined.filled {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
}
